@define-color window_bg_color #191724;
@define-color window_fg_color #e0def4;

@define-color accent_bg_color #c4a7e7;
@define-color accent_fg_color #191724;
@define-color destructive_bg_color #eb6f92;
@define-color destructive_fg_color #191724;

@define-color headerbar_bg_color #1f1d2e;
@define-color headerbar_fg_color #e0def4;
@define-color headerbar_border_color #26233a;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.2);

@define-color popover_bg_color #191724;
@define-color popover_fg_color #e0def4;

@define-color view_bg_color #191724;
@define-color view_fg_color #e0def4;

@define-color card_bg_color #1f1d2e;
@define-color card_fg_color #e0def4;
@define-color card_shade_color rgba(0, 0, 0, 0.2);

.calc-grid-button {
    background-color: #26233a;
    color: #e0def4;
    border: 1px solid #403d52;
}

.calc-grid-button:hover {
    background-color: #403d52;
}

.calc-grid-button:active {
    background-color: #c4a7e7;
    color: #191724;
}

.calc-grid-button.accent {
    background-color: #ebbcba;

    color: #191724;
}

.calc-grid-button.accent:hover {
    background-color: #31748f;

    color: #e0def4;
}

.calculator-display-header {
    background-color: #191724;
    color: #e0def4;
}

.calc-entry-display {
    color: #e0def4;
}

.calc-history {
    color: #908caa;
}

.sidebar {
    background-color: #1f1d2e;
    border-right: 1px solid #26233a;
}

.sidebar-list row:selected {
    background-color: #ebbcba;
    color: #191724;
}

.calc-grid-button.suggested-action {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
.calc-grid-button.destructive-action {
    background-color: @destructive_bg_color;
    color: @destructive_fg_color;
}
